<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	
	<!-- 控制台默认输出 -->
	<appender name="debug" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=">>>[%-4p] %d [%t] (%F\:%L) - %m%n"/>
		</layout>
	</appender>
	
	<root>
	   <appender-ref ref="debug"/>
	   <appender-ref ref="infoFile"/>
	   <appender-ref ref="warnFile"/>
	   <appender-ref ref="errorFile"/>
	</root>

</log4j:configuration>